<section class="image-grid">
    <div class="image-grid__inner">
        <div class="image-grid__item image-grid__item-1 image-grid__item--tall">
        	<div class="image-grid__item-image" style="background-image: url({{assets}}/img/lighting.jpg)"></div>
            <div class="image-grid__item-image-caption image-grid__item-image-caption--tall">
                <h2>lighting</h2>
                <a href="#" class="btn">shop lighting</a>
            </div>
        </div>
        <div class="image-grid__item image-grid__item-2">
        	<div class="image-grid__item-image" style="background-image: url({{assets}}/img/spaces.jpg)"></div>
            <div class="image-grid__item-image-caption-alt">
                <h2>calm spaces</h2>
                <a href="#" class="btn-arrow">shop furniture <i class="fa fa-long-arrow-right"></i></a>
            </div> 
        </div>
        <div class="image-grid__item image-grid__item-3">
        	<div class="image-grid__item-image" style="background-image: url({{assets}}/img/chairs.jpg)"></div>
            <div class="image-grid__item-image-caption">
                <h2>chairs</h2>
                <a href="#" class="btn">shop chairs</a>
            </div> 
        </div>
        <div class="image-grid__item image-grid__item-4 image-grid__item--tall">
        	<div class="image-grid__item-image" style="background-image: url({{assets}}/img/stools.jpg)"></div>
            <div class="image-grid__item-image-caption image-grid__item-image-caption--tall">
                <h2>stools</h2>
                <a href="#" class="btn">shop stools</a>
            </div> 
        </div>
        <div class="image-grid__item image-grid__item-5">
        	<div class="image-grid__item-image" style="background-image: url({{assets}}/img/showroom.jpg)"></div>
            <div class="image-grid__item-image-caption-alt">
                <h2>the showroom</h2>
                <a href="#" class="btn-arrow">about us <i class="fa fa-long-arrow-right"></i></a>
            </div> 
        </div>
    </div>	
</section>